body
  padding 0
  margin 0
  left 0
  top 0
  overflow hidden

.mg-app
  .inspector
    position fixed
    left 0
    top 0
    width 35vw
    height 100vh
    background-color rgba(100, 100, 100, 0.5)


// .mg-controls
//   display inline-block
//   text-align center

//   .filedrop
//     display flex
//     align-items center
//     justify-content center

//     height 3em
//     background-color blue
//     border-radius 2px

//     color white
//     font-family sans-serif

//   .faders
//     display inline-flex
//     flex-flow column nowrap
//     align-items center

//     .fader
//       display inline-block
//       background-color #aaa

//       .label
//         text-align center